NET "CLK50_in" LOC = D18 | IOSTANDARD="LVCMOS33" | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

#CMOS OV7670
NET "OV7670_PWDN"    LOC = "B1"  | IOSTANDARD="LVCMOS33";
NET "OV7670_RESET"   LOC = "C1" | IOSTANDARD="LVCMOS33";
NET "OV7670_D<0>"    LOC = "D3" | IOSTANDARD="LVCMOS33";
NET "OV7670_D<1>"    LOC = "C3" | IOSTANDARD="LVCMOS33";
NET "OV7670_D<2>"    LOC = "C2"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<3>"    LOC = "B2"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<4>"    LOC = "D4"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<5>"    LOC = "C4"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<6>"    LOC = "D5" | IOSTANDARD="LVCMOS33";
NET "OV7670_D<7>"    LOC = "E5" | IOSTANDARD="LVCMOS33";
NET "OV7670_XCLK"    LOC = "D6" | IOSTANDARD="LVCMOS33";
NET "OV7670_PCLK"    LOC = "E6" | IOSTANDARD="LVCMOS33";
NET "OV7670_HREF"    LOC = "A2" | IOSTANDARD="LVCMOS33";
NET "OV7670_VSYNC"   LOC = "A3"  | IOSTANDARD="LVCMOS33";
NET "OV7670_SIOD"    LOC = "A4"  | IOSTANDARD="LVCMOS33";
NET "OV7670_SIOC"    LOC = "B4"  | IOSTANDARD="LVCMOS33";
NET "OV7670_PCLK"    CLOCK_DEDICATED_ROUTE = FALSE;

########LED Pin define#####################
NET led<0>            LOC = B19 | IOSTANDARD = "LVCMOS33";       ## LED2
NET led<1>            LOC = A19 | IOSTANDARD = "LVCMOS33";       ## LED3

########KEY Pin define#####################
NET key<0>            LOC = B20 | IOSTANDARD = "LVCMOS33";       ## KEY2
NET key<1>            LOC = A20 | IOSTANDARD = "LVCMOS33";       ## KEY3

# LCD AN430
NET "AN430_blue<0>"       LOC = M2  | IOSTANDARD="LVCMOS33";
NET "AN430_blue<1>"       LOC = L2  | IOSTANDARD="LVCMOS33";
NET "AN430_blue<2>"       LOC = K1 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<3>"       LOC = J1 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<4>"       LOC = L3 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<5>"       LOC = K2 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<6>"       LOC = K3 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<7>"       LOC = J3 | IOSTANDARD="LVCMOS33";
NET "AN430_green<0>"      LOC = T2 | IOSTANDARD="LVCMOS33";
NET "AN430_green<1>"      LOC = R2 | IOSTANDARD="LVCMOS33";
NET "AN430_green<2>"      LOC = P6 | IOSTANDARD="LVCMOS33";
NET "AN430_green<3>"      LOC = P5 | IOSTANDARD="LVCMOS33";
NET "AN430_green<4>"      LOC = M6 | IOSTANDARD="LVCMOS33";
NET "AN430_green<5>"      LOC = M5 | IOSTANDARD="LVCMOS33";
NET "AN430_green<6>"      LOC = N1 | IOSTANDARD="LVCMOS33";
NET "AN430_green<7>"      LOC = M1 | IOSTANDARD="LVCMOS33";
NET "AN430_red<0>"        LOC = U2  | IOSTANDARD="LVCMOS33";
NET "AN430_red<1>"        LOC = U1  | IOSTANDARD="LVCMOS33";
NET "AN430_red<2>"        LOC = R1  | IOSTANDARD="LVCMOS33";
NET "AN430_red<3>"        LOC = P1  | IOSTANDARD="LVCMOS33";
NET "AN430_red<4>"        LOC = U6  | IOSTANDARD="LVCMOS33";
NET "AN430_red<5>"        LOC = U5  | IOSTANDARD="LVCMOS33";
NET "AN430_red<6>"        LOC = T4  | IOSTANDARD="LVCMOS33";
NET "AN430_red<7>"        LOC = T3  | IOSTANDARD="LVCMOS33";
NET "AN430_dclk"          LOC = H2  | IOSTANDARD="LVCMOS33";
NET "AN430_de"            LOC = G9  | IOSTANDARD="LVCMOS33";
